.pr{
    color: #324B4E;
    text-align: start;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    width: 80%;


}

#t{
    color: #324B4E;
    text-align: start;
    font-size:60px;
    padding-left: 3%;
    font-family: 'Sacramento', cursive;
}
 

.img1{
      width: 90%;
      height: 75%;
      border-radius: 14px;
      box-shadow: 10px 10px #324B4E;
      border:2px solid #6AD1DF;

}


.row{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    justify-self: center;
}
  
.item {
    margin-bottom: 120px;
    justify-self: center;
  
}

#pic11,#pic12{
    background-size: 200px;
}

.copyright {
    background-color:#F0B694;
    text-align: center;
    padding: 30px 0;
}
  


a{
    text-decoration: none;
    color: #6AD1DF;
    font-family: 'Comfortaa', cursive;
}
a:visited{
   color:inherit;
}

h3{
    font-size: 25px;
    color: #6AD1DF;
    font-family: 'Comfortaa', cursive;
    text-shadow:2px 2px #324B4E;
    
}