.t{
    color: #6AD1DF;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    margin:auto;
    margin-top: 5%;
}
#newstxt{
    margin-right: 200%;
    margin-left: -80%;
}
.btntxt{
    font-size: 20px;
    color: #324B4E;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
}
.par{
    color: #F0B694;
    text-align: center;
    font-size: 30px;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Pacifico', cursive;
}
#programing{
    background-image: url(../../ciu.png);
    background-size: 200%;
    background-position: center;
    height: 100%;
    margin-left: 90%;

}
.overlaydiv{
    height: 900px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, .9fr));
    justify-items: center;
    justify-self: start;
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 30px;
}

.txt{
    height:80%;
    width: 60%;
    align-self: center;
    margin-right: 0%;
    background-color:#324B4E;
    border: 2px solid #F0B694;
    border-radius: 8px;
}
#coffe{
    background-image: url(../../20210409144409_IMG_1412.JPG);
    background-size: 200%;
    background-position:bottom;
}
.photo{      
    height: 100%;
    width: 180%;
    align-self: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    margin-left: 30%;
}

@media (max-width: 1580px){
  .overlaydiv{  
    height: 700px;
  }
  .t{
    font-size: 35px;
  }
  .par{
    font-size: 25px;
  }

}
@media (max-width: 990px){
  .t{
    font-size: 25px;
  }
  .par{
    font-size: 16px;
  }
  .btntxt{
    font-size: 15px;
  }
}
@media (max-width:955px) {
  .overlaydiv{
      margin-left: 19%;
  }
}

@media (max-width: 900px){
  .overlaydiv{  
    height: 500px;
  }
}
@media (max-width: 830px){
  .t{
    font-size: 23px;
  }
  .par{
    font-size: 16px;
  }

}
@media (max-width: 750px){
  .overlaydiv{  
    height: 450px;
  }
  .t{
    font-size: 23px;
  }
  .par{
    font-size: 15px;
  }
}

@media (max-width: 670px){
  .t{
    font-size: 20px;
  }
  .par{
    font-size: 14px;
  }
  .btntxt{
    font-size: 13px;
  }
}

@media (max-width: 580px){
  .overlaydiv{  
    height: 350px;
  }
  .t{
    font-size: 17px;
  }
  .par{
    font-size: 13px;
  }
  .btntxt{
    font-size: 9px;
  }
}

@media (max-width: 470px){
  .overlaydiv{  
    height: 250px;
  }
  .t{
    font-size: 16px;
  }
  .par{
    font-size: 12px;
  }
  .btntxt{
    font-size: 7px;
  }
}
@media (max-width: 444px){
  .t{
    font-size: 14px;
  }
  .par{
    font-size: 11px;
  }

}
@media (max-width: 405px){
  .t{
    font-size: 12px;
  }
  .par{
    font-size: 10px;
  }

}