.op{
    
    margin-bottom: 30px;
    margin-top: -1px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height:800px;
    display: grid;
    align-content: center;
    justify-content:start ;
    align-items:center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#6a72df56), to(#766adf00)), url(../../IMG_0116.JPG);
    background-position:center;
    background-size: 120%;
    background-repeat: no-repeat;
}


#ontop{
    color:#F0B694;
    text-align: start;
    font-size: 100px;
    text-shadow: 5px 5px #324B4E;
    align-content: center;
    padding-left: 6.2%;
    width: 900px;
    font-family: 'Comfortaa', cursive;

}
#herojok{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    text-shadow: 2px 2px #324B4E;
    text-align: start;
    padding-left: 13%;
    width: 500px;
    color: #6AD1DF;
} 

@media (max-width: 1100px){
    #herojok{
        font-size: 35px;
    }
    #ontop{
        font-size: 80px;
    }
    .op{
        height:600px;
    }

}
@media (max-width: 950px){
    #herojok{
        font-size: 30px;
    }
    #ontop{
        font-size: 70px;
    }
    .op{
        height:400px;
    }

}

@media (max-width: 820px){
    #herojok{
        font-size: 25px;
    }
    #ontop{
        font-size: 50px;
    }
    .op{
        height:300px;
    }

}
@media (max-width: 550px){
    #herojok{
        font-size: 20px;
    }
    #ontop{
        font-size: 40px;
    }
    .op{
        height:200px;
    }

}

@media (max-width: 355px){
    #herojok{
        padding-left: auto;
        margin-top: 0px;
    }
    #ontop{
        padding: 5%;
        margin-bottom: 0px;
    }

}